@import '../base/typography';
@import '../base/reset';
@import '../layout/menu';
@import '../layout/footer';
@import '../utils/variables';

header{
    flex-grow: 1;
    min-height: 800px;
    position: relative;

    h1{
        font-family: $base;
        position: absolute;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 6rem;
    }
}

main{
    flex-grow: 1;
    min-height: 800px;
}

