@import '../base/typography';
@import '../base/reset';
@import '../layout/menu';
@import '../layout/footer';
@import '../utils/variables';
@import '../utils/animations';

header{
    flex-grow: 1;
    position: relative;
    
}

main{
    padding-top: 8rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    
    h1{
        font-size: 4rem;
        font-family: $base;
        padding: 20px 0;
    }
}

.tabs{
    max-width: 1400px;
    width: 70%;
    background: #333;
    font-family: $base;
    padding: 20px;

    .tab-container{
        display: flex;
        justify-content: flex-start;

        .tab-content{
            height: 40px;
            max-width: 100%;
            overflow: hidden;
            display: flex;
            justify-content: flex-start;
        }
    
        .month{
            width: 100px;
            border-top-left-radius: 5px;
            border-top-right-radius: 5px;
            background: #f1f1f1;
            cursor: pointer;
            text-align: center;
            line-height: 40px;
            font-size: 2rem;
            font-weight: 500;
            letter-spacing: 3px;
            border: 1px solid #333;
    
            &:hover{
                background: #333;
                color: #f1f1f1;
                border: 1px solid #f1f1f1;
            }
            
            &.is-active{
                width: 100px;
                border-top-left-radius: 5px;
                border-top-right-radius: 5px;
                background: #333;
                color: #f1f1f1;
                border: 1px solid #f1f1f1;
            }
            
        }
        
        .add-tab{
            width: 40px;
            height: 40px;
            font-size: 4rem;
            border-radius: 50%;
            background: #f1f1f1;
            cursor: pointer;
            text-align: center;
            line-height: 40px;
            font-weight: 500;
            letter-spacing: 3px;
            border: 1px solid #333;
    
            &:hover{
                background: #333;
                color: #f1f1f1;
                border: 1px solid #f1f1f1;
            }
        }

        ion-icon{
            width: 40px;
            height: 40px;
            background: #f1f1f1;
            color: #333;
        }
    }
}    

.main-container{
    width: 70%;
    max-width: 1400px;
    min-height: 560px;
    background: #333;
    display: flex;
    justify-content: space-between;

    .follow-container{
        width: calc(100% - 380px);
    }
}

.calendars-container{
    width: 360px;
    
    .week{
        margin: 2px 0;
        display: grid;
        grid-template-columns: repeat(7, 1fr);
        width: 100%;
        height: 40px;
    
        .day{
            color: #333;
            height: 40px;
            width: 40px;
            text-align: center;
            line-height: 40px;
            font-size: 2rem;
            background: #f1f1f1;
            border-radius: 50%;
            margin: 4px;
        }
    }

    .month-container{
        position: relative;
        margin-top: 8px;
    
        .days-container{
            position: absolute;
            display: grid;
            grid-template-columns: repeat(7, 1fr);
            width: 100%;
            opacity: 0;
            z-index: -1;
    
            &.is-active{
                animation: fade 0.5s forwards;
                z-index: 0;
            }
    
            .day{
                text-align: center;
                line-height: 40px;
                width: 40px;
                height: 40px;
                margin: 4px;
                font-size: 3rem;
                background-color: #f1f1f1;
                border-radius: 50%;
                transition: all .2s ease-in;
                cursor: pointer;
                
                &:hover{
                    background-color: #333;
                    color: #f1f1f1;
                    transform: scale(1.15);
                }
                &.is-active{
                    background-color: #333;
                    color: #f1f1f1;
                }
    
                &.lundi:nth-child(1){
                    grid-column-start: 1;
                }
                &.mardi:nth-child(1){
                    grid-column-start: 2;
                }
                &.mercredi:nth-child(1){
                    grid-column-start: 3;
                }
                &.jeudi:nth-child(1){
                    grid-column-start: 4;
                }
                &.vendredi:nth-child(1){
                    grid-column-start: 5;
                }
                &.samedi:nth-child(1){
                    grid-column-start: 6;
                }
                &.dimanche:nth-child(1){
                    grid-column-start: 7;
                }
            }
        }
    }
}
