@import url("https://fonts.googleapis.com/css2?family=Bangers&display=swap");
@font-face {
  font-family: "Scratchy";
  src: url(../../fonts/scratchy/Scratchy.ttf); }

/*! minireset.css v0.0.6 | MIT License | github.com/jgthms/minireset.css */
html, body, p, ol, ul, li, dl, dt, dd, blockquote, figure, fieldset, legend, textarea, pre, iframe, hr, h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0; }

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: normal; }

ul {
  list-style: none; }

button, input, select {
  margin: 0; }

html {
  box-sizing: border-box; }

*, *::before, *::after {
  box-sizing: inherit; }

img, video {
  height: auto;
  max-width: 100%; }

iframe {
  border: 0; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

td, th {
  padding: 0; }

html {
  font-size: 62.5%; }

.nav-container {
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
  background: #333; }
  .nav-container nav ul {
    display: flex; }
    .nav-container nav ul .nav-button a {
      font-size: 2.5rem;
      text-decoration: none;
      color: #f1f1f1;
      padding: 5px 0px;
      margin: 0px 20px;
      position: relative;
      width: 100%; }
      .nav-container nav ul .nav-button a::after {
        content: "";
        display: block;
        width: 100%;
        height: 2px;
        position: absolute;
        bottom: 0;
        left: 0;
        background: #f1f1f1;
        transform: scaleX(0);
        transition: transform 0.3s ease-out; }
      .nav-container nav ul .nav-button a:hover::after {
        transform: scaleX(1); }

@keyframes fade {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

header {
  flex-grow: 1;
  position: relative; }

main {
  padding-top: 8rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%; }
  main h1 {
    font-size: 4rem;
    font-family: Bangers, sans-serif;
    padding: 20px 0; }

.tabs {
  max-width: 1400px;
  width: 70%;
  background: #333;
  font-family: Bangers, sans-serif;
  padding: 20px; }
  .tabs .tab-container {
    display: flex;
    justify-content: flex-start; }
    .tabs .tab-container .tab-content {
      height: 40px;
      max-width: 100%;
      overflow: hidden;
      display: flex;
      justify-content: flex-start; }
    .tabs .tab-container .month {
      width: 100px;
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;
      background: #f1f1f1;
      cursor: pointer;
      text-align: center;
      line-height: 40px;
      font-size: 2rem;
      font-weight: 500;
      letter-spacing: 3px;
      border: 1px solid #333; }
      .tabs .tab-container .month:hover {
        background: #333;
        color: #f1f1f1;
        border: 1px solid #f1f1f1; }
      .tabs .tab-container .month.is-active {
        width: 100px;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        background: #333;
        color: #f1f1f1;
        border: 1px solid #f1f1f1; }
    .tabs .tab-container .add-tab {
      width: 40px;
      height: 40px;
      font-size: 4rem;
      border-radius: 50%;
      background: #f1f1f1;
      cursor: pointer;
      text-align: center;
      line-height: 40px;
      font-weight: 500;
      letter-spacing: 3px;
      border: 1px solid #333; }
      .tabs .tab-container .add-tab:hover {
        background: #333;
        color: #f1f1f1;
        border: 1px solid #f1f1f1; }
    .tabs .tab-container ion-icon {
      width: 40px;
      height: 40px;
      background: #f1f1f1;
      color: #333; }

.main-container {
  width: 70%;
  max-width: 1400px;
  min-height: 560px;
  background: #333;
  display: flex;
  justify-content: space-between; }
  .main-container .follow-container {
    width: calc(100% - 380px); }

.calendars-container {
  width: 360px; }
  .calendars-container .week {
    margin: 2px 0;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    width: 100%;
    height: 40px; }
    .calendars-container .week .day {
      color: #333;
      height: 40px;
      width: 40px;
      text-align: center;
      line-height: 40px;
      font-size: 2rem;
      background: #f1f1f1;
      border-radius: 50%;
      margin: 4px; }
  .calendars-container .month-container {
    position: relative;
    margin-top: 8px; }
    .calendars-container .month-container .days-container {
      position: absolute;
      display: grid;
      grid-template-columns: repeat(7, 1fr);
      width: 100%;
      opacity: 0;
      z-index: -1; }
      .calendars-container .month-container .days-container.is-active {
        animation: fade 0.5s forwards;
        z-index: 0; }
      .calendars-container .month-container .days-container .day {
        text-align: center;
        line-height: 40px;
        width: 40px;
        height: 40px;
        margin: 4px;
        font-size: 3rem;
        background-color: #f1f1f1;
        border-radius: 50%;
        transition: all .2s ease-in;
        cursor: pointer; }
        .calendars-container .month-container .days-container .day:hover {
          background-color: #333;
          color: #f1f1f1;
          transform: scale(1.15); }
        .calendars-container .month-container .days-container .day.is-active {
          background-color: #333;
          color: #f1f1f1; }
        .calendars-container .month-container .days-container .day.lundi:nth-child(1) {
          grid-column-start: 1; }
        .calendars-container .month-container .days-container .day.mardi:nth-child(1) {
          grid-column-start: 2; }
        .calendars-container .month-container .days-container .day.mercredi:nth-child(1) {
          grid-column-start: 3; }
        .calendars-container .month-container .days-container .day.jeudi:nth-child(1) {
          grid-column-start: 4; }
        .calendars-container .month-container .days-container .day.vendredi:nth-child(1) {
          grid-column-start: 5; }
        .calendars-container .month-container .days-container .day.samedi:nth-child(1) {
          grid-column-start: 6; }
        .calendars-container .month-container .days-container .day.dimanche:nth-child(1) {
          grid-column-start: 7; }
